/**
Primary background color: #282a36 (a dark, almost black color)
Secondary background color: #44475a (a slightly lighter grayish-purple)
Accent color: #ff79c6 (a bold magenta color that adds a pop of brightness)
Text color: #f8f8f2 (a light grayish-white that provides good contrast with the dark background)
Link color: #8be9fd (a light blue color that stands out against the dark background)
**/

body{
    background-color: #282a36;
    color: #f8f8f2;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#pannel{
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav{
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    border-bottom: #44475a solid 1px;
}

nav>div{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: #44475a solid 1px;
}
nav>div:hover{
    cursor: pointer;
    background-color: #44475a;
}
#selected{
    font-weight: bold;
    background-color: #24ae89;
}
/*InfoDiscContainer*/
.attackBtn{
    background-color: #24ae89;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#config{
    background-color: #41a8bf;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#DirectoryFuzzStop{
    background-color: #ff5555;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#DirectoryFuzzStop:hover{
    cursor: pointer;
    background-color: #f94a4ade;
}
.attackBtn:hover{
    cursor: pointer;
    background-color: #24ae89;
}
#config:hover{
    cursor: pointer;
    background-color: #2f8ea3;
}
#btn-container{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#infoDiscContainer,#DirectoryFuzzContainer,#pathTransversalContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#infoSelect{
    width: 100%;
    height: 200%;
    position: absolute;
    background-color:rgba(32, 34, 44, 0.95);
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#infoSelect-header{
    width: 100%;
    height: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
#infoSelect-close{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
#infoSelect-close:hover{
    cursor: pointer;
    background-color: #ff5555;
}

#infoSelect-title{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#infoSelect-body{
    width: 100%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
#infoSelect-body-header{
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
#clear{
    font-weight: bold;
    width: 20%;
    height: 30%;
    background-color: #ff5555;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}
#clear:hover{
    cursor: pointer;
    background-color: #f94a4ade;
}
#select-all{
    width: 20%;
    height: 30%;
    background-color: #41a8bf;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#select-all:hover{
    cursor: pointer;
    background-color: #2f8ea3;
}
#save{
    width: 20%;
    height: 30%;
    background-color: #24ae89;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#save:hover{
    cursor: pointer;
    background-color: #1a9776;
}
#infoSelect-body-grid{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#infoSelect-body-grid>div{
    width: 100%;
    height: 90%;
    display: flex;
   flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#infoDiscHeader,#DirectoryFuzzHeader{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#infoDiscHeader>input,#DirectoryFuzzHeader>input{
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 6px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#table{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
#infoDiscHeader>input:focus,#DirectoryFuzzContainer>input:focus{
    outline: #8be9fd solid 2px;
}
#tableHeader{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #282a36;
}
#tableHeader>div{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #44475a solid 3px;
    border-top: #44475a solid 3px;
}
.row{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.row:hover{

    background-color: #44475a;
}
::-webkit-scrollbar{
    width: 10px;
    
}
::-webkit-scrollbar-track{
    background: #282a36;
}
::-webkit-scrollbar-thumb{
    background: #8be9fd;
    border-radius: 100px;

}   
::-webkit-scrollbar-thumb:hover{
    background: #8be9fd;
}


#table{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.col{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

.col > a{
    text-decoration: none;
    color: #f8f8f2;
}
/* CSS code */
  